<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.cocktailsupport-mapper">
<!-- 칵테일바 검색기능 시작부분 -->
	<select id="cocktailbarFind" resultType="CocktailbarVO" parameterType="hashmap">
    SELECT bar_no,name,address,phone,image,profile,hit,time,loc,subway,num
    FROM (SELECT bar_no,name,address,phone,image,profile,hit,time,loc,subway,rownum as num 
    FROM (SELECT /*+ INDEX_ASC(cocktailbar cb_bar_no_pk)*/bar_no,name,address,phone,image,profile,hit,time,loc,subway
    FROM cocktailbar WHERE REGEXP_LIKE(${fd},#{ss})))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  <select id="cocktailbarFindTotal" resultType="int" parameterType="hashmap">
    SELECT CEIL(COUNT(*)/12.0) 
    FROM cocktailbar
    WHERE REGEXP_LIKE(${fd},#{ss})
  </select>
	
	<!-- 칵테일바 검색기능 끝부분 -->
	
	<!-- 칵테일바 예약기능 -->
	<select id="cocktailbarRserveList" resultType="CocktailbarVO" parameterType="String">
	SELECT bar_no,name,image,loc,rdays
	FROM cocktailbar
	WHERE REGEXP_LIKE(loc,#{loc})
	</select>
	
	<select id="reserveDayTimeInfoData" resultType="string"
   parameterType="int"
 >
   SELECT time FROM reserve_day
   WHERE rno=#{rno}
 </select>
 <select id="reserveGetTimeData" resultType="string"
   parameterType="int"
 >
   SELECT time FROM reserve_time
   WHERE tno=#{tno}
 </select>
 <insert id="reserveInsert" parameterType="ReserveVO">
  INSERT INTO reserve_info VALUES(
    (SELECT NVL(MAX(rno)+1,1) FROM reserve_info),
    #{id},#{bar_no},#{day},#{time},#{inwon},
    SYSDATE,'n'
  )
 </insert>
 <resultMap type="reserveVO" id="reserveMap">
 	<result property="cbvo.name" column="name" />
 	<result property="cbvo.image" column="image" />
 </resultMap>
 <select id="reserveMypageList" resultMap="reserveMap" parameterType="String" >
 	SELECT rno,reserve_info.bar_no,image,day,reserve_info.time,inwon,isok
 	FROM reserve_info,cocktailbar,cocktail_member
 	WHERE cocktail_member.id=reserve_info.id
    AND cocktailbar.bar_no = reserve_info.bar_no
 	AND reserve_info.id=#{id}
 </select>
 <select id="reserveadminpageList" resultMap="reserveMap" parameterType="String" >
 	SELECT rno,reserve_info.bar_no,image,day,reserve_info.time,inwon,isok
 	FROM reserve_info,cocktailbar,cocktail_member
 	WHERE cocktail_member.id=reserve_info.id
    AND cocktailbar.bar_no = reserve_info.bar_no
 </select>
 <update id="isokUpdate" parameterType="String">
 	UPDATE reserve_info SET
 	isok='y'
 	WHERE rno=#{rno}
 </update>
 <delete id="reserveDelete" parameterType="String" >
 	DELETE FROM reserve_info
 	WHERE rno=#{rno}
 </delete>
	<!-- 칵테일바 예약기능 끝부분-->
</mapper>