<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.community-mapper"> 
<sql id="where-no">
		WHERE no=#{no}
	</sql>
	<!-- 목록 -->
	<!-- int board_no,hit;
	String id, subject, tag, htmlfile, dbday;
	Date regdate; -->
	<select id="boardListData" resultType="CommunityFreeboardVO" parameterType="hashmap">
		SELECT board_no, id, subject, tag, regdate, hit, num
		FROM (SELECT board_no, id, subject, tag, regdate, hit, rownum as num
		FROM (SELECT board_no, id, subject, tag, regdate, hit
		FROM cocktail_board ORDER BY regdate DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 총페이지 -->
	<select id="boardTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM cocktail_board
	</select>
	<update id="boardHitIncrement" parameterType="int">
		UPDATE cocktail_board SET
		hit=hit+1
		WHERE board_no=#{board_no}
	</update>
	<select id="boardDetailData" resultType="CommunityFreeboardVO" parameterType="int">
		SELECT board_no, id, subject, hit, regdate, tag, htmlfile
		FROM cocktail_board
		WHERE board_no=#{board_no}
	</select>
	<!-- 이미지 db에 넣기 -->
	<insert id="boardInsertImage" parameterType="hashmap">
		INSERT INTO board_img
		 VALUES(#{file_name},#{file_size},#{board_no})
	</insert>
	<!-- 이미지 삭제하기 -->
	<delete id="boardDeleteImage" parameterType="string">
	    DELETE FROM board_img
	    WHERE file_name IN 
	    <trim prefix="(" suffix=")">
	    	<foreach item="image_name" collection="array"  separator="," >
	        	#{image_name}
	    	</foreach>
	    </trim>
	</delete>
	<!-- 글쓰기 버튼으로 insert페이지로 이동하면 깡통 게시물 하나 추가 -->
	<insert id="boardInsertNewPost" useGeneratedKeys="true" keyProperty="board_no" parameterType="CommunityFreeboardVO">
		<selectKey keyProperty="board_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(board_no)+1,1) as no FROM cocktail_board
		</selectKey>
		INSERT INTO cocktail_board(board_no,subject,tag,htmlfile,poststate)
		 VALUES(#{board_no},#{subject},#{tag},#{htmlfile},#{postState})
	</insert>
	<update id="boardInsert" parameterType="hashmap">
		UPDATE cocktail_board
		SET id = #{id}, subject = #{subject}, tag = #{tag}, htmlfile = #{htmlfile}, htmlfile_size = #{htmlfile_size}, poststate = 'SAVED'
		WHERE board_no = #{board_no}
	</update>
	<delete id="boardDeleteUnsaved" parameterType="int">
		DELETE FROM cocktail_board
		WHERE board_no=#{board_no}
	</delete>
</mapper>